<div class="flex-container">
  <div class="flex-item">
    <div class="form-group">
      <label for="email">Email adresa</label>
      <input type="email" class="form-control" id="email" placeholder="Unesite email">
    </div>
    <div class="form-group">
      <label for="password">Lozinka</label>
      <input type="password" class="form-control" id="password" placeholder="Unesite lozinku">
    </div>
    <div class="form-group">
      <input type="button" class="btn btn-outline-success my-2 my-sm-0" value="Prijavi se">
      <input type="button" class="btn btn-outline-success my-2 my-sm-0" value="Registruj se" (click)="registrujSe()">
    </div>
  </div>
</div>
