<div class="card text-center" (click)="updateKonsultaciju(konsultacija)">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a *ngIf="konsultacija.razlog.projekat" class="nav-link active" href="#">{{konsultacija.razlog.projekat.nazivProjekta}}</a>
      </li>
      <li class="nav-item">
        <a *ngIf="konsultacija.razlog.ispit" class="nav-link active" href="#">{{konsultacija.razlog.ispit.naziv}}</a>
      </li>
      <li class="nav-item">
        <a *ngIf="konsultacija.razlog.zavrsniRad" class="nav-link active" href="#">{{konsultacija.razlog.zavrsniRad.nazivZavrsnogRada}}</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div *ngIf="!konsultacija.odrzane" class="card">
      <div class="card-body text-danger">
        <h5 class="card-title"> &#x274C;</h5>
        <p class="card-text">Prof. {{konsultacija.nastavnik.ime}} {{konsultacija.nastavnik.prezime}}</p>
        <p class="card-text">Datum: {{konsultacija.vremeOd | dateFormat }}</p>
        <p class="card-text">Vreme od: {{konsultacija.vremeOd | timeFormat }}</p>
        <p class="card-text">Vreme do: {{konsultacija.vremeDo | timeFormat }}</p>
        <div class="btn btn-outline-success my-2 my-sm-0" (click)="odrzane(); $event.stopPropagation();">Odrzane</div>
        <div class="btn btn-outline-danger my-2 my-sm-0" (click)="obrisi(); $event.stopPropagation();">Obrisi</div>
      </div>
    </div>
    <div *ngIf="konsultacija.odrzane" class="card">
      <div class="card-body text-success">
        <h5 class="card-title">&#9989;</h5>
        <p class="card-text">Prof. {{konsultacija.nastavnik.ime}} {{konsultacija.nastavnik.prezime}}</p>
        <p class="card-text">Datum: {{konsultacija.vremeOd | dateFormat }}</p>
        <p class="card-text">Vreme od: {{konsultacija.vremeOd | timeFormat }}</p>
        <p class="card-text">Vreme do: {{konsultacija.vremeDo | timeFormat }}</p>
        <div class="btn btn-outline-danger my-2 my-sm-0" (click)="obrisi(); $event.stopPropagation();">Obrisi</div>
      </div>
    </div>
  </div>
</div>
