<app-nav-bar></app-nav-bar>
<div class="konsultacije">
  <h6 class="sort">Grupisi konsultacije po:</h6>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="groupByNastavnik()">Nastavniku</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="groupByRazlog()">Razlogu</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="groupByDatum()">Datumu</button>
</div>

<div class="row">
  <div *ngFor="let konsultacija of konsultacijeZaStudenta" class="column">
    <app-student-konsultacija-box [konsultacija]="konsultacija">
    </app-student-konsultacija-box>
  </div>
</div>

<div class="float">
  <p class="plus" (click)="addKonsultacija()">+</p>
</div>



<div *ngIf="calendarOptions">
  <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)" (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
</div>
