<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Konsultacije</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>

<div class="form">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 com-md-offset-2 form-center">
    <div class="form-group">
      <label for="razlog">Razlog</label>
      <select class="form-control" (change)="changeRazlog($event)">
        <option selected="true" disabled="disabled">Izaberite razlog konsultacija</option>
        <option *ngFor="let razlog of razlozi" [value]="razlog.id">{{razlog.naziv}}</option>
      </select>
      <div *ngIf="isIspit" class="form-group addition-div">
        <label for="naziv-ispita">Naziv ispita</label>
        <input type="naziv-ispita" [(ngModel)]="razlog.nazivTipa" class="form-control" id="naziv-ispita" placeholder="Naziv ispita">
      </div>
      <div *ngIf="isProjekat" class="form-group addition-div">
        <label for="naziv-projekta">Naziv projekta</label>
        <input type="naziv-projekta" [(ngModel)]="razlog.nazivTipa" class="form-control" id="naziv-projekta" placeholder="Naziv projekta">

        <label class="naziv-ispita" for="naziv-ispita">Naziv ispita</label>
        <input type="naziv-ispita" [(ngModel)]="razlog.nazivIspita" class="form-control" id="naziv-ispita" placeholder="Naziv ispita">
      </div>
      <div *ngIf="isZavrsniRad" class="form-group addition-div">
        <label for="tip-zavrsnog-rada">Tip zavrsnog rada</label>
        <input type="tip-zavrsnog-rada" [(ngModel)]="razlog.tipZavrsnogRada" class="form-control" id="tip-zavrsnog-rada" placeholder="Tip zavrsnog rada">

        <label class="naziv-zavrsnog-rada" for="naziv-zavrsnog-rada">Naziv zavrsnog rada</label>
        <input type="naziv-zavrsnog-rada" [(ngModel)]="razlog.nazivTipa" class="form-control" id="naziv-zavrsnog-rada" placeholder="Naziv zavrsnog rada">
      </div>
    </div>
    <div class="form-group">
      <label for="razlog-opis">Opis razloga</label>
      <input type="razlog-opis" [(ngModel)]="razlog.opis" class="form-control" id="opis-razloga" placeholder="Opis razloga">
    </div>
    <div *ngIf="userType==UserType.Student" class="form-group">
      <label for="nastavnik">Nastavnik</label>
      <select class="form-control" (change)="changeNastavnik($event)">
        <option selected="true" disabled="disabled">Izaberite nastavnika</option>
        <option *ngFor="let nastavnik of nastavnici" [value]="nastavnik.id">{{nastavnik.ime}} {{nastavnik.prezime}}</option>
      </select>
    </div>

    <div *ngIf="sveKonsultacijeNastavnika" class="form-group">
      <label class="form-group">Termini konsultacija: </label>
      <div *ngFor="let konsultacija of sveKonsultacijeNastavnika">
        <label class="form-group"> Dan u nedelji {{konsultacija.danUNedelji | dayOfWeek}}</label>;
        <label class="form-group"> Vreme od {{konsultacija.vremeOd | timeFormat: 'HH:mm'}}</label>;
        <label class="form-group"> Vreme do {{konsultacija.vremeDo | timeFormat: 'HH:mm'}}</label>
      </div>
    </div>

    <div class="form-group">
      <label>Datum konsultacija</label>
      <div class="input-group">

        <input class="form-control" [(ngModel)]="konsultacija.datumKonsultacijaZaView" (ngModelChange)="onDateSelection($event)" name="dp" [markDisabled]="isDisabled" [displayMonths]="displayMonths" [navigation]="navigation"
          [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" firstDayOfWeek="1" ngbDatepicker #d="ngbDatepicker">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="../../../assets/img/images.jpg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
          </button>
        </div>
      </div>

      <div class="form-group" *ngIf="konsultacija.datumKonsultacijaZaView">

        <div class="form-group">
          <label>Vreme do</label>
          <input id="vremeOd" type="time" [attr.min]="getMinVremeOd()" [attr.max]="getMaxVremeOd()" [(ngModel)]="konsultacija.vremeOd" (ngModelChange)="onVremeOdChange($event)">
          <span></span>
        </div>

        <div class="form-group" *ngIf="konsultacija.vremeOd">
          <label for="trajanje">Trajanje konsultacija</label>
          <select #trajanjeSelect class="form-control" (change)="changeTrajanje($event)">
            <option selected="true" disabled="disabled">Izaberite trajanje</option>
            <option [value]="15">15m</option>
            <option [value]="30">30m</option>
          </select>
        </div>

        <div class="text-danger form-group">{{ errorInSelection }}</div>

      </div>

      <div class="form-group buttons">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0" (click)="save()">Sacuvaj</button>
        <button class="btn btn-outline-warning my-2 my-sm-0" (click)="cancel()">Odustani</button>
      </div>
    </div>
  </div>
