<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Konsultacije</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline">
      <input #searchText class="form-control mr-sm-2" type="search" placeholder="Pretraga" aria-label="Pretraga">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="pretrazi(searchText.value)">Pretraga</button>
    </form>
  </div>
</nav>

<h5>Agenda konsultacija</h5>

<div class="agenda-konsultacija">
  <h6 class="sort">Sortiraj konsultacije po:</h6>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="groupByRazlog()">Studentu</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="groupByDatum()">Datumu</button>
</div>

<div class="konsultacije">
  <ul class="list-group">
    <div *ngFor="let konsultacija of konsultacije">
      <li *ngIf="konsultacija.odrzane" class="list-group-item list-group-item-success">
        <ul>
          <li>
            Student: {{konsultacija.student.ime}} {{konsultacija.student.prezime}}
          </li>
          <li>
            Datum odrzavanja konsultacija: {{konsultacija.datumKonsultacija | date}}
          </li>
        </ul>
      </li>
      <li *ngIf="!konsultacija.odrzane" class="list-group-item list-group-item-danger">
        <ul>
          <li>
            Student: {{konsultacija.student.ime}} {{konsultacija.student.prezime}}
          </li>
          <li>
            Datum odrzavanja konsultacija: {{konsultacija.datumKonsultacija | date }}
          </li>
        </ul>
      </li>
    </div>
  </ul>
</div>


<div class="float">
  <p class="plus" (click)="addKonsultacija()">+</p>
</div>
