.list-group {
    padding: 10px;
}

.sort {
    margin-top: 8px;
    margin-right: 8px;
}

.btn {
    margin-right: 5px;
}

h5 {
    padding: 20px;
    text-align: center;
}

.konsultacije {
    display: flex;
    font-size: initial;
    justify-content: center;
    margin-top: 10px;
}

.agenda-konsultacija {
    display: flex;
    justify-content: center;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 2.25rem;
    border-bottom-left-radius: 2.25rem;
}

.list-group-item:first-child {
    border-top-left-radius: 2.25rem;
    border-top-right-radius: 2.25rem;
    margin-bottom: 5px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #28a745;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.plus {
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 59px;
    font-size: 41px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
}

.navbar-collapse {
    justify-content: flex-end;
}

.list-group-item {
    cursor: pointer;
}

.odjavi-se {
    margin-left: 20px;
}

.container {
    margin-top: 10px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
}

.row{
  cursor: pointer;
}
