<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Konsultacije</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline">
      <input #searchText class="form-control mr-sm-2" type="search" placeholder="Pretraga" aria-label="Pretraga">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="pretrazi(searchText.value)">Pretraga</button>
      <button class="btn btn-outline-success my-2 my-sm-0 pdf" (click)="konsultacijeToPDF(searchText.value)">PDF</button>
      <button class="btn btn-outline-success my-2 my-sm-0 odjavi-se" (click)="logout()">Odjavi se</button>
    </form>
  </div>
</nav>

<div class="container">
  <div *ngFor="let konsultacija of nastavnikTerminiKonsultacija" class="row" (click)="updateKonsultaciju(konsultacija.id)">
    <div class="col-sm">
      Termin konsultacija
    </div>
    <div class="col-sm">
      Dan u nedelji: {{konsultacija.danUNedelji | dayOfWeek }}
    </div>
    <div class="col-sm">
      Vreme od: {{konsultacija.vremeOd | timeFormat }}
    </div>
    <div class="col-sm">
      Vreme do: {{konsultacija.vremeDo | timeFormat}}
    </div>
  </div>
</div>

<h5>Agenda konsultacija</h5>

<div class="agenda-konsultacija">
  <h6 class="sort">Sortiraj konsultacije po:</h6>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="groupByRazlog()">Studentu</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="groupByDatum()">Datumu</button>
</div>

<div class="konsultacije">
  <ul class="list-group">
    <!-- <div *ngFor="let konsultacija of konsultacijeKojeNisuOdrzaneINisuIstekle">
      <li class="list-group-item list-group-item-warning" (click)="updateKonsultaciju(konsultacija.id)">
        <ul>
          <li>
            Student: {{konsultacija.student.ime}} {{konsultacija.student.prezime}}
          </li>
          <li>
            Datum odrzavanja konsultacija: {{konsultacija.datumKonsultacija | date}}
          </li>
        </ul>
      </li>
    </div> -->
    <div *ngFor="let konsultacija of konsultacije">
      <li *ngIf="konsultacija.odrzane" class="list-group-item list-group-item-success" (click)="updateKonsultaciju(konsultacija.id)">
        <ul>
          <li>
            Dan u nedelji: {{konsultacija.danUNedelji}}
          </li>
          <li>
            Vreme od {{konsultacija.vremeOd}} PM
          </li>
          <li>
            Vreme do {{konsultacija.vremeDo}} PM
          </li>
        </ul>
      </li>
      <li *ngIf="!konsultacija.odrzane" class="list-group-item list-group-item-danger" (click)="updateKonsultaciju(konsultacija.id)">
        <ul>
          <li>
            Dan u nedelji: {{konsultacija.danUNedelji}}
          </li>
          <li>
            Vreme od {{konsultacija.vremeOd}} PM
          </li>
          <li>
            Vreme do {{konsultacija.vremeDo}} PM
          </li>
        </ul>
      </li>
    </div>
  </ul>
</div>


<div class="float">
  <p class="plus" (click)="addKonsultacija()">+</p>
</div>
