<!-- <div class="registration-type">
  <input type="button" class="btn btn-outline-success my-2 my-sm-0" value="Student" (click)="izaberiRegKaoStudent()">
  <input type="button" class="btn btn-outline-success my-2 my-sm-0" value="Nastavnik" (click)="izaberiRegKaoNastavnik()">
</div> -->

<div class="forms">
  <div class="register-form-for-student" *ngIf="prikaziRegFormuStudent">
    <div class="form-group">
      <label for="name">Ime</label>
      <input type="text" class="form-control" id="name-student" [(ngModel)]="registracijaStudenta.ime" placeholder="Unesite ime">
    </div>
    <div class="form-group">
      <label for="surname">Prezime</label>
      <input type="text" class="form-control" id="surname-student" [(ngModel)]="registracijaStudenta.prezime" placeholder="Unesite prezime">
    </div>
    <div class="form-group">
      <label for="index-number">Broj indeksa</label>
      <input type="text" class="form-control" id="index-number" [(ngModel)]="registracijaStudenta.brojIndeksa" placeholder="Unesite broj indeksa">
    </div>
    <div class="form-group">
      <label for="username">Korisničko ime</label>
      <input type="text" class="form-control" id="username-student" [(ngModel)]="registracijaStudenta.korisnickoIme" placeholder="Unesite korisnicko ime">
    </div>
    <div class="form-group">
      <label for="password">Lozinka</label>
      <input type="password" class="form-control" id="password-student" [(ngModel)]="registracijaStudenta.lozinka" placeholder="Unesite lozinku">
    </div>
    <div class="form-group">
      <input type="button" class="btn btn-outline-success my-2 my-sm-0" value="Registruj se" (click)="registrujStudenta()">
    </div>
  </div>

  <div class="register-form-for-teacher" *ngIf="prikaziRegFormuNastavnik">
    <div class="form-group">
      <label for="name">Ime</label>
      <input type="text" class="form-control" id="name-nastavnik" [(ngModel)]="registracijaNastavnika.ime" placeholder="Unesite ime">
    </div>
    <div class="form-group">
      <label for="surname">Prezime</label>
      <input type="text" class="form-control" id="surname-nastavnik" [(ngModel)]="registracijaNastavnika.prezime" placeholder="Unesite prezime">
    </div>
    <div class="form-group">
      <label for="number-of-work-card">Broj radne knjižice</label>
      <input type="number" class="form-control" id="number-of-work-card" [(ngModel)]="registracijaNastavnika.brojRadneKnjizice" placeholder="Unesite broj radne knjizice">
    </div>
    <div class="form-group">
      <label for="username">Korisničko ime</label>
      <input type="text" class="form-control" id="username-nastavnik" [(ngModel)]="registracijaNastavnika.korisnickoIme" placeholder="Unesite korisnicko ime">
    </div>
    <div class="form-group">
      <label for="password">Lozinka</label>
      <input type="password" class="form-control" id="password-nastavnik" [(ngModel)]="registracijaNastavnika.lozinka" placeholder="Unesite lozinku">
    </div>
    <div class="form-group">
      <input type="button" class="btn btn-outline-success my-2 my-sm-0" value="Registruj se" (click)="registrujNastavnika()">
    </div>
  </div>
</div>
